{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <td><img src="../static/images/messi.jpg" width="350"/></td>
                <td><img src="../static/images/ronaldo.jpg" width="350"/></td>
                <td><img src="../static/images/neymar.jpg" width="350"/></td>
            </tr>
            <tr>
                <td><img src="../static/images/suarez.jpg" width="350"/></td>
                <td><img src="../static/images/de bruyne.jpg" width="350"/></td>
                <td><img src="../static/images/hazard.jpg" width="350"/></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}